altgraph==0.17.4
astroid==3.2.4
auto-py-to-exe==2.44.1
black==24.8.0
bottle==0.13.1
bottle-websocket==0.2.9
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
customtkinter==5.2.2
darkdetect==0.8.0
dill==0.3.8
Eel==0.17.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.8
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
mypy==1.11.1
mypy-extensions==1.0.0
mysql-connector-python==9.1.0
mysqlclient==2.2.4
packaging==24.1
pathspec==0.12.1
pefile==2024.8.26
platformdirs==4.2.2
pluggy==1.5.0
pycparser==2.22
pycryptodome==3.20.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pylint==3.2.6
PyMySQL==1.1.1
pyparsing==3.1.4
pytest==8.3.3
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==74.1.2
SQLAlchemy==2.0.34
tomlkit==0.13.0
typing_extensions==4.12.2
urllib3==2.2.2
whichcraft==0.6.1
zope.event==5.0
zope.interface==7.0.3
